<div class="jumbotron">
    <h1 class="display-4">TS APP</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident inventore pariatur eum quaerat
        qui facere!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, obcaecati.</p>
    <a href="#" class="btn btn-primary btn-lg">Task List</a>
</div>
